.h_75px{
  height: 75px;
}

.h_150px{
  height: 150px;
}
.h_300px{
  height: 300px;
}

.h_500px{
  height: 500px;
}
.h_75{
 height: 75%;
}

.pt_100px{
  padding-top: 100px;
}
.pt_50px{
  padding-top: 50px;
}
.pb_50px{
  padding-bottom: 50px;
}
.p-0{
  padding:  0;
}
.pt_25px{
  padding-top: 25px;
}
.f_w{
    font-weight: 600;
}
.mb_20px{
  margin-bottom: 20px;
}
.mb_50px{
  margin-bottom: 50px;
}

.mt_20px{
  margin-top: 20px;
}
/* header */
header{
  height: 90px;
}
.bg_header{
  background-color: #2C3E50;
}

.navbar.ms_navbar{
  background-color: #2c3e50;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand,
.navbar.ms_navbar .navbar-nav li a{
  color:white;
  text-transform: uppercase;
}

.navbar.ms_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}
/* jumbo */
.ms_star:before,
.ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
  margin: 0 20px;
}
.ms_star_w i{
  color: white;
}
.ms_star i {
  font-size: 30px;
  vertical-align: middle;
}
.ms_jumbo{
  padding-top: 0;
}

.bg_jumbo{
  background-color: #1abc9c;
}
.jumbotron h1,h3,i{
  text-transform: uppercase;
  color: white;
}
.jumbotron h1{
  font-weight: 600;
}
/* portfolio */
#portfolio h1{
  color: #2C3E50;
  text-transform: uppercase;
  font-weight: 600;
}
#portfolio i{
  color: #2C3E50;
}
#portfolio .ms_star:before,
#portfolio .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: #2C3E50;
  margin: 0 20px;
}
#portfolio .w_375px{
  width: 375px;
}
#portfolio .br_10px{
  border-radius: 10px;
}
#portfolio .row{
  padding-top: 50px;
  margin-bottom: 50px;
}

/* about */


#about .row .t_w{
  color: white;
}
#about h1{
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}
.bg_btn{
  background-color: #1abc9c;
}
.btn_dwnl:hover{
  background-color: white;
  color: #2C3E50;
}
.btn_dwnl a:hover{
  color: #2C3E50;
}
.t_20px{
  font-size: 20px;
}
#about .row a{
  color: white;
}


/* contact */

#contact h1{
  text-transform: uppercase;
  color: #2C3E50;
}


#contact .ms_star:before,
#contact .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: #2C3E50;
  margin: 0 20px;
}
#contact .ms_star_b i{
 color: #2C3E50;
}
#contact .form-control{
  box-shadow: none;
  color: #2C3E50;
  border-bottom: 1px solid #e9ecef
}
#name::placeholder{
  color:#2C3E50;
  font-weight: 600;
}
#email::placeholder{
  color:#2C3E50;
  font-weight: 600;
}
#phonenumber::placeholder{
  color:#2C3E50;
  font-weight: 600;
}
textarea{
  color:#2C3E50;
  font-weight: 600;
}
/* footer */
.bg_ftr_sup{
  background-color: #3A546D;
}
footer #links a{
  margin-top: 50px;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
footer h2{
  margin-bottom:  25px;
  color: white;
}
footer address{
  color: white;
  font-size: 20px;
}
.bg_ftr_inf{
  background-color: #2C3E50;
}
.text_f{
  color: white;
  font-size: 20px;
}
.text_f a{
  color: #1abc9c;
}
footer .copy{
  color: white;
  line-height: 75px;
}
