.h_75px{
  height: 75px;
}

.h_150px{
  height: 150px;
}
.h_300px{
  height: 300px;
}

.h_500px{
  height: 500px;
}
 .h_75{
   height: 75%;
 }
.bg_green{
  background-color: rgb(86, 223, 173);
}

.bg_gold{
  background-color: rgb(223, 214, 86);
}

.bg_ciano{
  background-color: rgb(86, 120, 223);
}

.bg_violet{
  background-color: rgb(105, 86, 223);
}

.bg_purple{
  background-color: rgb(171, 86, 223);
}

.bg_red{
  background-color: rgb(223, 86, 86);
}

.bg_blue{
  background-color: rgb(5, 22, 176);
}

.bg_dgreen{
  background-color: rgb(0, 96, 24);
}

.bg_magenta{
  background-color: rgb(98, 18, 93);
}

.pt_100px{
  padding-top: 100px;
}
.pt_50px{
  padding-top: 50px;
}
.pb_50px{
  padding-bottom: 50px;
}
.p-0{
  padding:  0;
}
.pt_25px{
  padding-top: 25px;
}
.f_w{
    font-weight: 600;
}

/* header */
header{
  height: 90px;
}
.bg_header{
  background-color: #2C3E50;
}

.navbar.ms_navbar{
  background-color: #2c3e50;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand,
.navbar.ms_navbar .navbar-nav li a{
  color:white;
  text-transform: uppercase;
}

.navbar.ms_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}
/* jumbo */
.ms_star:before,
.ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
  margin: 0 20px;
}
.ms_star_w i{
  color: white;
}
.ms_star i {
  font-size: 30px;
  vertical-align: middle;
}
.ms_jumbo{
  padding-top: 0;
}

.bg_jumbo{
  background-color: #1abc9c;
}
.jumbotron h1,h3,i{
  text-transform: uppercase;
  color: white;
}
.jumbotron h1{
  font-weight: 600;
}
/* portfolio */
#portfolio h1{
  color: #2C3E50;
  text-transform: uppercase;
  font-weight: 600;
}
#portfolio i{
  color: #2C3E50;
}
#portfolio .ms_star:before,
#portfolio .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: #2C3E50;
  margin: 0 20px;
}
#portfolio .w_375px{
  width: 375px;
}
#portfolio .br_10px{
  border-radius: 10px;
}
#portfolio .row{
  padding-top: 50px;
  margin-bottom: 50px;
}
.mb_20px{
  margin-bottom: 20px;
}

#about .row .t_w{
  color: white;
}
#about h1{
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}
#about .bg_btn{
  background-color: #1abc9c;

}
.t_20px{
  font-size: 20px;
}
#about .row a{
  color: white;
}
