.h_75px{
  height: 75px;
}

.h_150px{
  height: 150px;
}
.h_300px{
  height: 300px;
}

.h_500px{
  height: 500px;
}
 .h_75{
   height: 75%;
 }
.bg_green{
  background-color: rgb(86, 223, 173);
}

.bg_gold{
  background-color: rgb(223, 214, 86);
}

.bg_ciano{
  background-color: rgb(86, 120, 223);
}

.bg_violet{
  background-color: rgb(105, 86, 223);
}

.bg_purple{
  background-color: rgb(171, 86, 223);
}

.bg_red{
  background-color: rgb(223, 86, 86);
}

.bg_blue{
  background-color: rgb(5, 22, 176);
}

.bg_dgreen{
  background-color: rgb(0, 96, 24);
}

.bg_magenta{
  background-color: rgb(98, 18, 93);
}



/* header */
header{
  height: 90px;
}
.bg_header{
  background-color: #2C3E50;
}

.navbar.ms_navbar{
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand,
.navbar.ms_navbar .navbar-nav li a{
  color:white;
  text-transform: uppercase;
}

.navbar.ms_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}
